
<div class="main-container">
  <div class="left">

    <div class="left_header">
      <h2>
        <div class="mypagetitle">
          自分の投稿
        </div>
        <%= link_to '新規投稿', new_post_path, class: 'addnew_btn' %>
      </h2>
    </div>

    <div class="left_column">
      <ul class="list-unstyled">
        <% @posts.each do |post| %>
          <li>
            <%= link_to post.title, post_path(post) %>
            <%= link_to '[Edit]', edit_post_path(post), class: 'command' %>
            <%= link_to '[x]',
              post_path(post),
              method: :delete,
              class: 'command',
              data: { confirm: 'Sure?' } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="right">
    <div class="right_header">
      <h2>
        <div class="otherpagetitle">
        他の人の投稿
        </div>
      </h2>
    </div>

    <div class="right_column">
      <ul class="list-unstyled">
        <% @otherposts.each do |post| %>
          <li>
            <%= link_to post.title, post_path(post) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
