<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
          <div class="global_header">
            <% if user_signed_in? %>
                <%= current_user.username %>
                <%= link_to 'プロフィール変更', edit_user_registration_path %>
                 |
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                 |
                <%= link_to 'ユーザーネームの設定', mypage_edit_path %>

            <% else %>
                <%= link_to 'サインアップ', new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
          </div>
    </header>

    <div class="container">

        <% if user_signed_in? %>
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
       <% end %>

        <h1><%= link_to image_tag('logo.jpg', class: 'logo rounded'), root_path %></h1>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
  </body>
</html>
